{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
  a:link
  {
    text-decoration:none;
  }
</style>
{% endblock %}
{% block body %}
<!-- Content Turneros -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Panel Usuario</h1>
</div>
<div class="row">
  
</div>
<!-- End Content Turneros -->
<hr class="sidebar-divider">
<!-- Content Pantallas -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Pantallas</h1>
</div>
<div class="row">
  
</div>
<!-- End Content Pantallas --> 
<hr class="sidebar-divider"> 
{% endblock %}