{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
  a:link
  {
    text-decoration:none;
  }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Parametrizar agendas</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    {% for agenda in agendas %}
      <!-- Earnings (Monthly) Card Example -->
      <a href="{{path("agenda_parametrizar", {"id":agenda.id})}}"  class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-primary text-uppercase mb-1">{{ agenda.nombre }}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ agenda.descripcion }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-building fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <!-- End Content Row -->
</div>
{% endblock %}
